body {
  background-color: rgb(0, 0, 0, 0.8);
  color: #E2703A;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imgbody {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  object-fit: scale-down;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}


.header {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

.form-control {
  color: black;
  border-radius: 5px;
  border: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgb(0, 0, 0, 0.7);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 18px;
  padding: 20px;
  text-align: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.fav-title {
  color: white;
  justify-content: space-evenly;
}

